{% extends 'header.html' %}
{% block signup %}
<style>
     button[type="submit"] {
      background: #3c3f58;
      color: #fff;
      padding: 9px 18px;
      border: none;
      border-radius: 12px;
      font-weight: 600;
      font-size: 15px;
      cursor: pointer;
      transition: background 0.3s;
      width: 100%;
    }

    button[type="submit"]:hover {
      background: #2c2e44;
    }
</style>
<body id="login">

  <div class="login-container">
    <a href="/" class="home-icon">
      <i class="bi bi-house-door"></i>
    </a>
    <h3>Register</h3>
    <form action="{% url 'to-signup' %}" method="POST">
    {% csrf_token %}
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input name="email" type="email" class="form-control" id="email" placeholder="Enter your email" required>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input name="password" type="password" class="form-control" id="password" placeholder="Enter your password" required>
      </div>

      <div class="mb-3">
        <label for="passwordconfirm" class="form-label">Confirm Password</label>
        <input name="passwordconfirm" type="password" class="form-control" id="passwordconfirm" placeholder="Confirm your password" required>
      </div>

      {% if messages %}
      <div class="container mt-3">
        {% for message in messages %}
            <p style="color:red;">{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}

      <button type="submit" class="btn btn-primary w-100">Register</button>
    </form>

    <p class="form-text mt-3">Already have an account? <a href="/login" style="color:#3c3f58;">Login here</a></p>
  </div>

</body>
{% endblock %}
</html>
