{% extends 'header.html' %}
{% block signup %}
<body id="login">

  <div class="login-container">
    <a href="/" class="home-icon">
      <i class="bi bi-house-door"></i>
    </a>
    <h3>Register</h3>
    <form action="{% url 'to-signup' %}" method="POST">
    {% csrf_token %}
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input name="email" type="email" class="form-control" id="email" placeholder="Enter your email" required>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input name="password" type="password" class="form-control" id="password" placeholder="Enter your password" required>
      </div>

      <div class="mb-3">
        <label for="passwordconfirm" class="form-label">Confirm Password</label>
        <input name="passwordconfirm" type="password" class="form-control" id="passwordconfirm" placeholder="Confirm your password" required>
      </div>

      <button type="submit" class="btn btn-primary w-100">Register</button>
    </form>

    <p class="form-text mt-3">Already have an account? <a href="/login">Login here</a></p>
  </div>

</body>
{% endblock %}
</html>
